.TodoList {
  width: 400px;
  padding: 20px;
  margin: 0;
  list-style: none;
  margin-top: 20px;
}

.TodoList__item {
  display: flex;
  margin-bottom: 20px;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.433);
  border-radius: 8px;
  position: relative;
}

.TodoList__item ::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;

  background-color: #000000;

  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.TodoList__itemCompleted::before {
  transform: scaleX(1);
}

.TodoList__btn {
  margin-left: auto;
  padding: 16px;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.559);
}

.TodoList__btn:hover,
.TodoList__btn:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.701);
}
